.form-inputs-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-x: inherit;
    align-items: center;
    min-width: 100%;
}

.form-wrapper {
    padding: 0 20px;
}

.form-wrapper button[type="submit"] {
    margin-top: 20px;
}

.double-form-field-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.type-of-property {
    width: 270px !important;
}