.navbar {
    backdrop-filter: blur(3px);
}

.navbar h1 {
    font-size: 46px;
    margin-top: 0;
    padding: 15px;
}

.nav {
    width: 100%;
    background-image: url("../assets/nav.gif");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.searchbar {
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.searchbar input {
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #f3f3f3;
    border: unset !important;
}