@import "./styles/cards.css";
@import "./styles/forms.css";
@import "./styles/material.css";
@import "./styles/modal.css";
@import "./styles/navbar.css";
@import "./styles/responsiveness.css";

html {
  overflow-x: hidden;
}

body {
  font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fbfbfe;
  color: #0e0e16;
}

h1 {
  color: #5869d6;
  text-align: center;
}


fieldset {
  margin: 0;
  border: none;
  -moz-box-align: center;
  align-items: center;
}

input[type="text"],
input[type="date"],
select {
  padding: 5px;
}

input[type="text"] {
  width: 250px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
}

button {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #5869d6;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  /* background transition */
  transform: 0.3s;
}

button:hover {
  background-color: #7485f0;
  transform: scale(1.02);
}

/* MAIN SECTION */

.main-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.left-section {
  width: fit-content;
  margin-left: 10px;
  margin-right: 10px;
}

.right-section {
  width: 25%;
  padding-left: 20px;
  border-left: 1px solid #ddd;
}

.favorite-list {
  height: 100%;
}

.card-container,
.additional-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.additional-images {
  margin-top: 15px;
  gap: 5px;
}

.card-container-favorites {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.properties-header {
  margin-left: 20px;
}

/* End of MAIN SECTION */

/* FOOTER */
footer {
  bottom: 0;
  left: 0;
  padding: 5px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

footer>svg {
  fill: #4164c3;
  padding: 0 5px;
}

footer>a {
  text-decoration: none;
  font-weight: 500;
}

footer a:hover {
  color: #041a55;
  border-radius: 5px;
}